{{ partial "header.html" . }}

<div class="content">
    <h1><span class="title">{{ .Title | markdownify }}</span></h1>
    {{ if .PublishDate }}<time>{{ .PublishDate.Format "2 Jan 2006" }}</time>{{ end }}
    {{ .Content }}
</div>

{{ partial "footer.html" . }}
